{:paths ["src"]
 :deps
 {thi.ng/geom {:mvn/version "1.0.1"
                     :exclusions [org.jogamp.gluegen/gluegen-rt
                                  org.jogamp.jogl/jogl-all]}
  hiccup/hiccup {:mvn/version "2.0.0-alpha2"}}}
